.nav__item {
  @include flex;
  justify-content: center;
  border-bottom: 0.06rem solid $color-border-light;
  list-style: none;
}

@media ($for-tablet) {
  .nav__item {
    margin-right: 2rem;
    border-bottom: none;
  }

  .nav__item:last-child {
    margin-right: 0;
  }
}
