.nav__item {
  @include flex;
  justify-content: center;
  border-bottom: 1px solid $color-border-light;
  list-style: none;
}

@media ($for-tablet) {
  .nav__item {
    margin-right: 32px;
    border-bottom: none;
  }

  .nav__item:last-child {
    margin-right: 0;
  }
}
