.contacts-fieldset__title {
  @include font-params(24px, 400, 1, $color-title);
  padding-left: 0;
  position: relative;
  display: block;
  margin: 0 0 17px;
}

@media ($min-width-tablet) {
  .contacts-fieldset__title {
    font-size: 36px;
    padding: 0 30px;
    margin-bottom: 68px;
  }
}

@media ($min-width-desktop) {
  .contacts-fieldset__title {
    @include wrapper;
  }

  .contacts-fieldset__title {
    padding: 0;
    max-width: 1300px;
    margin-bottom: 68px;
  }
}
