.accessories__wrapper {
  @include flex;
  @include font-params(14px, 400, 1, $color-text);
  justify-content: space-between;
  margin: 0 0 14px;
  font-family: "Arial", sans-serif;
}

@media ($min-width-tablet) {
  .accessories__wrapper {
    margin-bottom: 23px;
    font-size: 16px;
    line-height: 1.25;
  }
}

@media ($min-width-desktop) {
  .accessories__wrapper {
    justify-content: space-between;
    min-width: 282px;
    max-width: 30%;
    margin-left: auto;
    margin-right: 42px;
    margin-bottom: 0;
  }
}
