.stock__text {
  @include font-params(16px, 400, 1.25, $color-white);
  max-width: 165px;
  margin: 0;
  font-family: "Arial", sans-serif;
  text-align: center;
}

@media ($min-width-tablet) {
  .stock__text {
    text-align: left;
  }
}
