.stock__text {
  @include font-params(16px, 400, 1.25, $color-white);
  width: 160px;
  margin: 0 0 43px;
  font-family: "Arial", sans-serif;
  text-align: center;
}

@media ($for-tablet) {
  .stock__text {
    margin: 0;
  }
}
