.map__link {
  display: block;
  background-color: $color-background;
  max-height: 370px;
  overflow: hidden;
}

.map__link img {
  width: 100%;
}

@media ($min-width-tablet) {
  .map__link {
    max-height: 400px;
  }
}
