.adv {
  @include flex;
  flex-direction: column;
  background-image: url("../img/index-background-mobile@1x.jpg"), linear-gradient($color-main 19.06rem, $color-white 19.06rem);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}
