.adv {
  @include flex;
  flex-direction: column;
  background-image: url("../img/index-background-mobile@1x.jpg"), linear-gradient($color-main 19.06rem, $color-white 19.06rem);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}


@media ($for-tablet) {
  .adv {
    background: none;
  }
}

@media ($for-desktop) {
  .adv {
    background-image: url("../img/index-background-mobile@1x.jpg"), linear-gradient($color-main 21.78rem, $color-white 21.78rem);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
  }
}
