.category__item-text {
  margin: 0 0 20px;
  padding-bottom: 22.88px;
  border-bottom: 1px solid $color-border;
  font-size: 14px;
  font-family: "Arial", sans-serif;
}

@media ($for-tablet) {
  .category__item-text {
    max-width: 70%;
    border-bottom: none;
    font-size: 16px;
    line-height: 1.5;
  }
}

@media ($for-desktop) {
  .category__item-text {
    max-width: none;
  }
}
