.more__plus {
  margin-bottom: 25px;
  margin-top: 2px;
}

.more__plus svg {
  fill: rgba($color-label, 0.2);
}

.more__plus svg:last-child {
  display: none;
}

@media ($min-width-tablet) {
  .more__plus {
    margin-top: 55px;
    margin-bottom: 47px;
  }

  .more__plus svg:first-child {
    display: none;
  }

  .more__plus svg:last-child {
    display: block;
  }
}
