.example-table__data {
  @include font-params (1.5rem, 400, 1, $color-title);
  padding: 0.93rem 0;
  border: 0.06rem solid $color-border;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

@media ($for-tablet) {
  .example-table__data {
    padding: 1.37rem 0;
    font-size: 1.87rem;
    line-height: 1.23;
  }
}
