.advantages__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: $color-main;
}

@media ($for-tablet) {
  .advantages__img {
    width: 80px;
    height: 80px;
    margin-bottom: 37px;
  }
}
