.additional-fieldset__title {
  @include font-params(24px, 400, 1, $color-title);
  display: block;
  margin: 0 0 38px;
}

@media ($min-width-tablet) {
  .additional-fieldset__title {
    padding: 0 30px;
    font-size: 36px;
    margin-bottom: 67px;
  }
}

@media ($min-width-desktop) {
  .additional-fieldset__title {
    padding: 0 20px;
  }
}
