.slider__label {
  @include font-params (16px, 400, 1.25, $color-title);
  position: relative;
  padding-bottom: 6px;
  padding-top: 4px;
  border-bottom: 1px dotted rgba($color-black, 0.23);
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}

.slider__label:hover,
.slider__label:focus {
  border-bottom: 1px solid rgba($color-black, 0.4);
}

.slider__label:active {
  border-bottom: none;
}

.slider__label::before {
  @include area(30px);
}

@media ($min-width-tablet) {
  .slider__label {
    font-size: 20px;
    line-height: 1;
  }
}
