.header-logo {
  @include wrapper;
  @include flex;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 15px;
  border-bottom: 1px solid $color-border-light;
}

@media ($for-tablet) {
  .header-logo {
    width: 30%;
    padding: 0;
    margin: 0;
    border-bottom: none;
    min-width: auto;
    max-width: none;
  }
}
