.header-logo {
  @include wrapper;
  @include flex;
  align-items: center;
  padding-top: 0.68rem;
  padding-bottom: 0.93rem;
  border-bottom: 0.06rem solid $color-border;
}

@media ($for-tablet) {
  .header-logo {
    width: 30%;
    padding: 0;
    margin: 0;
    border-bottom: none;
    min-width: auto;
    max-width: none;
  }
}
