.example-table__wrapper {
  @include flex;
  justify-content: space-between;
  width: 280px;
  margin-bottom: 38px;
}

@media ($min-width-tablet) {
  .example-table__wrapper {
    width: 366px;
  }
}

@media ($min-width-desktop) {
  .example-table__wrapper {
    margin-bottom: 45px;
  }
}
