.example-table__wrapper {
  @include flex;
  justify-content: space-between;
  width: 17.5rem;
  margin-bottom: 2.37rem;
}

@media ($for-tablet) {
  .example-table__wrapper {
    width: 22.87rem;
  }
}
