.slider__img {
  position: absolute;
  top: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media ($min-width-tablet) {
  .slider__img {
    top: 7%;
  }

  .slider__img img {
    width: 636px;
  }
}
