.category__img-wrapper {
  background-color: $color-main;
<<<<<<< HEAD
  width: 3.57rem;
  height: 3.57rem;
=======
  width: 3.12rem;
  height: 3.12rem;
>>>>>>> module4-task1-test
  border-radius: 50%;
}
