.target-fieldset {
  @include flex;
  @include reset-indents;
  flex-direction: column;
  border: none;
<<<<<<< HEAD
  border-bottom: 0.07rem solid $color-border;
  margin-bottom: 2.21rem;
=======
  border-bottom: 0.06rem solid $color-border;
  margin-bottom: 1.93rem;
>>>>>>> module4-task1-test
}
