.target-fieldset {
  @include reset-indents;
  @include flex;
  flex-direction: column;
  flex-grow: 1;
  border: none;
  border-bottom: 1px solid $color-border;
  padding: 20px 0;
}

@media ($min-width-tablet) {
  .target-fieldset {
    border: 1px solid $color-border-light;
    margin: 0 70px;
    padding: 25px 28px;
  }
}

@media ($min-width-desktop) {
  .target-fieldset {
    width: 30%;
    margin: 0;
    padding: 30px 28px 26px;
  }
}
