.nav__menu {
  @include reset-indents;
  @include flex;
  flex-direction: column;
  transition: $transition;
}

@media (min-width: 0) and (max-width: 768px) {
  .nav__menu--js {
    position: absolute;
    top: -500px;
    right: 0;
    z-index: 2;
    width: 100%;
    background-color: white;
  }

  .nav__menu--js--open {
    position: absolute;
    top: 68px;
    right: 0;
    z-index: 2;
    width: 100%;
    background-color: white;
  }
}

@media ($min-width-tablet) {
  .nav__menu {
    flex-direction: row;
    justify-content: flex-end;
  }
}
