.contacts-fieldset__input {
  @include font-params(16px, 400, 1.13, $color-text);
  border: 1px solid $color-border;
  flex-grow: 1;
  padding: 13px;
  text-transform: uppercase;
}

.contacts-fieldset__input:invalid {
  outline: 2px solid #ff8282;
  border-color: transparent;
}

.contacts-fieldset__input:focus {
  outline: 2px solid $color-text;
  border-color: transparent;
}

.contacts-fieldset__input:invalid + svg {
  fill: #ff8282;
}

.contacts-fieldset__input:focus + svg {
  fill: $color-main;
}

@media ($min-width-tablet) {
  .contacts-fieldset__input {
    font-size: 20px;
    line-height: 1;
    padding: 13px 48px 13px 16px;
  }
}
