.more {
  @include flex;
  flex-direction: column;
  align-items: center;
<<<<<<< HEAD
  padding: 1.78rem 0;
  border-bottom: 0.07rem solid $color-border;
=======
  padding: 1.56rem 0;
  border-bottom: 1px solid $color-border;
>>>>>>> module4-task1-test
}
