.nav__link--index--active::before {
  position: absolute;
  bottom: 25%;
  height: 2px;
  width: 100%;
  background-color: $color-main;
  content: "";
}

@media ($min-width-desktop) {
  .nav__link--index--active::before {
    background-color: $color-white;
  }
}
