.comments-fieldset__textarea {
  @include font-params(1rem, 400, 1.13, $color-text);
  width: 17.5rem;
  min-height: 9.37rem;
  padding: 0.93rem;
  border: 0.06rem solid $color-border;
  text-transform: uppercase;
}
