.accessories__text {
  background-color: $color-white;
  padding: 0 20px;
}

@media ($min-width-tablet) {
  .accessories__text {
    padding: 0 37px;
  }
}

@media ($min-width-desktop) {
  .accessories__text {
    position: absolute;
    left: -18px;
  }
}
