.more__link {
  @include font-params(size(16px), 400, 1.25, $color-text);
  width: 100%;
  padding: size(12px) 0;
  text-align: center;
  background-color: $color-background;
  text-transform: uppercase;
}
