.more__link {
  @include font-params(16px, 400, 1.25, $color-text);
  width: 100%;
  padding: 12px 0;
  text-align: center;
  background-color: $color-background;
  text-transform: uppercase;
}

@media ($for-tablet) {
  .more__link {
    margin-top: auto;
    margin-bottom: 40px;
  }
}
