.example-table__text {
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  color: $color-title;
}

@media ($for-tablet) {
  .example-table__text {
    width: 25%;
    font-size: 20px;
  }
}

@media ($for-desktop) {
  .example-table__text {
    @include flex;
    width: 366px;
    justify-content: space-between;
  }
}
