.adv__wrapper {
  @include wrapper;
  @include flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.adv__wrapper img {
  object-fit: contain;
}

@media ($for-tablet) {
  .adv__wrapper {
    position: relative;
    align-items: flex-start;
    padding-left: 120px;
  }

  .adv__wrapper img {
    width: 709px;
    align-self: center;
  }

  .adv__wrapper picture {
    order: 4;
  }
}

@media ($for-desktop) {
  .adv__wrapper {
    padding-top: 226px;
    padding-bottom: 268px;
  }

  .adv__wrapper img {
    position: absolute;
    top: 20%;
    left: 37%;
    width: 552px;
  }
}
