.category__item-title {
  @include font-params (24px, 400, 1.54, $color-title);
  margin: 0;
  padding-left: 20px;
  max-width: 300px;
  text-transform: uppercase;
}

@media ($min-width-tablet) {
  .category__item-title {
    padding-left: 0;
    font-size: 36px;
    line-height: 1.03;
  }
}

@media ($min-width-desktop) {
  .category__item-title {
    margin-left: 62px;
  }
}
