.accessories__price {
  text-transform: uppercase;
  max-width: 48%;
}

@media ($min-width-tablet) {
  .accessories__price {
    margin-left: 51px;
  }
}

@media ($min-width-desktop) {
  .accessories__price {
    margin-left: 0;
    max-width: 40%;
  }
}
