.nav__toggle-icon {
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: $color-black;
  transform: rotate(-45deg);
  transition: $transition;
}

.nav__toggle-icon::after {
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: $color-black;
  transition: $transition;
  transform: rotate(90deg);
  content: "";
}
