.nav__toggle-icon {
  position: absolute;
  width: 19px;
  height: 2px;
  background-color: $color-black;
  transform: rotate(0deg) translateY(5px);
  transition: $transition;
}

.nav__toggle-icon::after {
  position: absolute;
  width: 19px;
  height: 2px;
  background-color: $color-black;
  transition: $transition;
  transform: rotate(0deg) translateY(-10px);
  content: "";
}
