@mixin flex {
  display: flex;
  flex-wrap: wrap;
}

@mixin reset-indents {
  margin: 0;
  padding: 0;
}

@mixin font-params($font-size: 16px, $font-weight: 400, $line-height: 1.29, $color: $color-text) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color;
}


@mixin area($padding: 20px) {
  position: absolute;
  padding: $padding;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
}

@mixin wrapper {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 320px;
  width: 100%;

  @media ($for-tablet) {
    min-width: 768px;
  }

  @media ($for-desktop) {
    min-width: 1024px;
    max-width: 1220px;
  }
}
