@mixin flex {
  display: flex;
  flex-wrap: wrap;
}

@mixin reset-indents {
  margin: 0;
  padding: 0;
}

@mixin font-params($font-size: 16px, $font-weight: 400, $line-height: 1.29, $color: $color-text) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color;
}


@mixin area($padding: 20px) {
  position: absolute;
  padding: $padding;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
}

@mixin wrapper {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 320px;
  width: 100%;

  @media ($min-width-tablet) {
    min-width: 768px;
  }

  @media ($min-width-desktop) {
    min-width: 1064px;
    max-width: 1260px;
  }
}

@mixin btn {
  @include font-params(14px, 400, 1.29, $color-white);
  width: 100%;
  padding: 10px 10px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  background-color: $color-main;
  transition: $transition;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba($color-white, 0.3);
  }

  @media ($min-width-tablet) {
    @include font-params(16px, 400, 1, $color-white);
    padding: 17px 10px 15px 10px;
  }
}
