@mixin flex {
  display: flex;
  flex-wrap: wrap;
}

@mixin reset-indents {
  margin: 0;
  padding: 0;
}

@mixin font-params($font-size: 16px, $font-weight: 400, $line-height: 1.29, $color: $color-text) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color;
}

@mixin area($padding: 1.42rem) {
  position: absolute;
  padding: $padding;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
}

@mixin wrapper {
  margin: 0 auto;
  padding: 0 1.42rem;
  min-width: 22.85rem;
  width: 100%;

  @media ($for-tablet) {
    width: 50.57rem;
  }
}
