$color-apple: #68b738;
$color-concrete: #f2f2f2;
$color-white: #ffffff;
$color-black: #000000;
$color-tundora: #444444;
$color-codgray: #111111;
$color-mineshaft: #222222;
$color-silver: #cdcdcd;

$color-main: $color-apple;
$color-title: $color-codgray;
$color-text: $color-tundora;
$color-background: $color-concrete;
$color-label: $color-mineshaft;
$color-border-light: rgba($color-silver, 0.5);
$color-border: $color-silver;

$transition: 300ms ease-out;

$min-width-tablet: "min-width: 768px";
$min-width-desktop: "min-width: 1024px";
