.form__wrapper {
  @include flex;
  @include wrapper;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
  padding: 27px 20px 0;
}

@media ($min-width-tablet) {
  .form__wrapper {
    flex-direction: row;
    padding: 0 65px;
    margin-bottom: 72px;
    align-items: baseline;
  }
}

@media ($min-width-desktop) {
  .form__wrapper {
    padding: 0 20px;
    margin-bottom: 85px;
    align-items: center;
  }
}
