.advantages__item {
  @include flex;
  position: relative;
  list-style: none;
  margin-bottom: 1.25rem;
}

@media ($for-tablet) {
  .advantages__item {
    min-height: 14.25rem;
    flex-direction: column;
    width: 50%;
    margin-bottom: 5.56rem;
  }
}

@media ($for-desktop) {
  .advantages__item {
    width: 25%;
  }
}
