.catalog-table__row {
  @include flex;
  width: 100%;
  justify-content: space-between;
}

@media ($for-tablet) {
  .catalog-table__row {
    margin-bottom: 1rem;
    border-bottom: 0.06rem solid $color-border;
  }
}
