.form__title {
  @include font-params(36px, 400, 1.67, $color-title);
  margin: 15px 0 25px;
}

@media ($min-width-tablet) {
  .form__title {
    margin: 47px 0 56px;
    font-size: 60px;
    line-height: 1;
  }
}

@media ($min-width-desktop) {
  .form__title {
    padding: 0;
    margin: 67px 0 55px;
  }
}
