.additional-fieldset__label {
  @include font-params(16px, 400, 1.16, $color-label);
  position: relative;
  width: 100%;
  padding: 0 20px 0 56px;
  text-transform: uppercase;
  margin-bottom: 44px;
  transition: $transition;
  user-select: none;
}

.additional-fieldset__label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 16px;
  width: 30px;
  height: 30px;
  border: 1px solid $color-border-light;
  transform: translateY(-50%);
}

.additional-fieldset__label::after {
  position: absolute;
  top: 50%;
  left: 24px;
  padding: 10px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  opacity: 0;
  transform: translateY(-50%);
  content: "";
}

.additional-fieldset__input:checked + .additional-fieldset__label::after {
  opacity: 1;
}

.additional-fieldset__label:active {
  color: rgba(34, 34, 34, 0.3);
}

.additional-fieldset__input:focus + .additional-fieldset__label::before,
.additional-fieldset__label:hover::before {
  border-color: #bababa;
}

.additional-fieldset__label:active::before {
  border-color: #bababa;
  opacity: 0.3;
}

.additional-fieldset__label:active::after {
  opacity: 0.3;
}

@media (min-width: 0) and (max-width: 768px) {
  .additional-fieldset__label:last-child {
    margin-bottom: 0;
  }
}

@media ($min-width-tablet) {
  .additional-fieldset__label {
    padding: 0 70px 0 130px;
    width: 50%;
    margin-bottom: 54px;
    font-size: 20px;
    line-height: 1;
  }

  .additional-fieldset__label::before {
    width: 40px;
    height: 40px;
    left: 64px;
  }

  .additional-fieldset__label::after {
    left: 77px;
  }
}

@media ($min-width-desktop) {
  .additional-fieldset__label {
    padding: 16px 68px;
    width: auto;
  }

  .additional-fieldset__label::before {
    left: 16px;
  }

  .additional-fieldset__label::after {
    left: 30px;
  }
}
