.additional-fieldset__label {
  @include font-params(1.14rem, 400, 1.16, $color-label);
  padding: 0 1.42rem;
  text-transform: uppercase;
  margin-bottom: 1.42rem;
}

.additional-fieldset__label:last-child {
  margin-bottom: 0;
}
