.adv__title {
  @include font-params (36px, 400, 1, $color-white);
  margin: 0;
  max-width: 316px;
  padding-bottom: 20px;
  text-align: center;
}

@media ($for-tablet) {
  .adv__title {
    max-width: 426px;
    padding-bottom: 32px;
    color: $color-title;
    font-size: 60px;
    text-align: left;
  }
}
