.example-table__head {
  @include font-params (12px, 400, 1, $color-text);
  position: absolute;
  top: 50px;
  margin: 0 0 25px;
  width: min-content;
  font-family: "Arial", sans-serif;
  text-align: center;
  background-color: $color-background;
}

@media ($for-tablet) {
  .example-table__head {
    top: 74px;
    width: max-content;
    font-size: 14px;
    background-color: $color-white;
  }
}

@media ($for-desktop) {
  .example-table__head {
    background-color: $color-background;
  }
}
