.example-table__head {
<<<<<<< HEAD
  @include font-params (0.85rem, 400, 1, $color-text);
  position: absolute;
  top: 3.57rem;
  margin: 0 0 1.78rem;
  width: 5.71rem;
=======
  @include font-params (0.75rem, 400, 1, $color-text);
  position: absolute;
  top: 3.12rem;
  margin: 0 0 1.56rem;
  width: 5rem;
>>>>>>> module4-task1-test
  font-family: "Arial", sans-serif;
  text-align: center;
  background-color: $color-background;
}
