.category__wrapper {
  @include flex;
  align-items: center;
  padding-bottom: 28px;
}

@media ($for-tablet) {
  .category__wrapper {
    max-width: 70%;
  }
}

@media ($for-desktop) {
  .category__wrapper {
    max-width: none;
  }
}
