.category__wrapper {
  @include flex;
  align-items: center;
  padding-bottom: 23px;
}

@media ($min-width-tablet) {
  .category__wrapper {
    max-width: 70%;
  }
}

@media ($min-width-desktop) {
  .category__wrapper {
    max-width: none;
  }
}
