.catalog__product {
  @include font-params(16px, 400, 1.25, $color-title);
  display: block;
  max-width: 60%;
  margin-bottom: 12px;
  margin-top: 22px;
  text-transform: uppercase;
}

@media ($min-width-tablet) {
  .catalog__product {
    margin: 0 auto 22px;
    font-size: 20px;
    line-height: 1;
    text-align: center;
  }
}

@media ($min-width-desktop) {
  .catalog__product {
    max-width: 75%;
  }
}
