.data-fieldset__label-wrapper {
  padding-right: 15px;
}

@media ($min-width-tablet) {
  .data-fieldset__label-wrapper {
    padding-right: 18px;
  }
}

@media ($min-width-desktop) {
  .data-fieldset__label-wrapper {
    max-width: 300px;
  }
}
