.accessories__title {
  @include font-params(24px, 400, 1, $color-title);
  @include wrapper;
  position: relative;
  padding: 30px 0;
  border-bottom: 1px solid $color-border;
}

@media ($min-width-tablet) {
  .accessories__title {
    font-size: 36px;
    border-bottom: none;
  }
}
