.accessories__title {
  @include font-params(24px, 400, 1, $color-title);
  @include wrapper;
  position: relative;
  padding: 26px 0 34px;
}

@media ($min-width-tablet) {
  .accessories__title {
    font-size: 36px;
    padding: 20px 30px;
    margin-bottom: 59px;
  }
}
