.btn {
<<<<<<< HEAD
  width: 20rem;
  padding: 0.85rem 0;
=======
  width: 17.5rem;
  padding: 0.75rem 0;
>>>>>>> module4-task1-test
  border: none;
  color: $color-white;
  text-align: center;
  text-transform: uppercase;
  background-color: $color-main;
}
