.btn {
  @include font-params(14px, 400, 1.29, $color-white);
  width: 100%;
  padding: 12px 0;
  border: none;
  text-align: center;
  text-transform: uppercase;
  background-color: $color-main;
}

@media ($for-tablet) {
  .btn {
    @include font-params(16px, 400, 1, $color-white);
    padding: 17px 0 15px 0;
  }
}
