.footer-developers__text {
  @include font-params(16px, 400, 1, $color-text);
  @include flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  transition: $transition;
}

.footer-developers__text:hover svg,
.footer-developers__text:focus svg {
  fill: $color-main;
}

.footer-developers__text:active {
  opacity: 0.3;
}

.footer-developers__text:active svg {
  fill: $color-main;
}
