.social__item {
  position: relative;
  margin-left: 40px;
  list-style: none;
  padding: 20px 0;
}

.social__item:first-child {
  margin-left: 0;
}

@media ($min-width-tablet) {
  .social__item:first-child svg {
    width: 30px;
    height: 16px;
  }

  .social__item:nth-child(2) svg {
    width: 23px;
    height: 23px;
  }

  .social__item:nth-child(3) svg {
    width: 14px;
    height: 28px;
  }
}
