.data-fieldset {
  @include reset-indents;
  @include flex;
  flex-direction: column;
  padding-bottom: 0.71rem;
  border: none;
  border-bottom: 0.07rem solid $color-background;
  margin-bottom: 1.42rem;
}
