.data-fieldset {
  @include flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 22px 0;
  border: none;
  border-bottom: 1px solid $color-border;
}

@media ($min-width-tablet) {
  .data-fieldset {
    border-bottom: none;
    padding: 40px 0;
  }
}

@media ($min-width-desktop) {
  .data-fieldset {
    padding: 0;
  }
}
