.accessories__item-title {
  @include font-params(16px, 400, 1, $color-label);
  padding-bottom: 13px;
  text-transform: uppercase;
  margin: 0;
}

@media ($for-tablet) {
  .accessories__item-title {
    font-size: 20px;
  }
}

@media ($for-desktop) {
  .accessories__item-title {
    padding-bottom: 0;
    max-width: 160px;
  }
}
