.footer__wrapper {
  @include flex;
  @include wrapper;
  flex-direction: column;
}

@media ($min-width-tablet) {
  .footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
