.header__logo {
  @include wrapper;
  padding-top: 0.68rem;
  padding-bottom: 0.93rem;
  border-bottom: 0.06rem solid $color-border;
}

@media ($for-tablet) {
  .header__logo {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    border-bottom: none;
    width: 30%;
    min-width: auto;
    max-width: none;
  }
}
