.header__logo {
  @include wrapper;
<<<<<<< HEAD
  padding-top: 0.78rem;
  padding-bottom: 1.07rem;
  border-bottom: 0.07rem solid $color-border;
=======
  padding-top: 0.68rem;
  padding-bottom: 0.93rem;
  border-bottom: 0.06rem solid $color-border;
>>>>>>> module4-task1-test
}
