.catalog__btn-add {
  @include btn;
  padding: 9px 10px;
  font-size: 16px;
  line-height: 1.25;
}

@media ($min-width-tablet) {
  .catalog__btn-add {
    margin: 0 auto 40px;
    width: 77%;
    padding: 12px 10px 12px;
  }
}

@media ($min-width-desktop) {
  .catalog__btn-add {
    width: 69%;
  }
}
