.form__text {
  @include font-params(14px, 400, 1.29, $color-title);
  text-transform: uppercase;
  margin: 0 0 40px;
}

@media ($min-width-tablet) {
  .form__text {
    max-width: 450px;
    padding: 0 70px;
    font-size: 20px;
    line-height: 1.5;
  }
}

@media ($min-width-desktop) {
  .form__text {
    padding: 0;
  }
}
