.example__text {
<<<<<<< HEAD
  width: 19rem;
  margin: 0;
  padding-bottom: 1.92rem;
=======
  width: 16.62rem;
  margin: 0;
  padding-bottom: 1.68rem;
>>>>>>> module4-task1-test
  font-family: "Arial", sans-serif;
}
