.example__text {
  width: 100%;
  margin: 0 0 22px;
  padding-right: 5px;
  font-size: 14px;
  font-family: "Arial", sans-serif;
}

@media ($min-width-tablet) {
  .example__text {
    max-width: 97%;
    margin-bottom: 52px;
    font-size: 16px;
    line-height: 1.5;
    padding-right: 0;
  }
}

@media ($min-width-desktop) {
  .example__text {
    margin-bottom: 70px;
    max-width: 72%;
  }
}
