.main__accessories {
  margin-bottom: 40px;
}

@media ($min-width-tablet) {
  .main__accessories {
    margin-bottom: 76px;
  }
}

@media ($min-width-desktop) {
  .main__accessories {
    margin-bottom: 87px;
  }
}
