.form__container {
  @include flex;
  flex-direction: column;
  padding-bottom: 17px;
}

@media ($min-width-desktop) {
  .form__container {
    flex-direction: row;
    justify-content: space-between;
  }
}
