.contacts__address {
  width: 150px;
  font-size: 14px;
  line-height: 1.43;
  font-family: "Arial", sans-serif;
  font-style: normal;
  text-align: left;
}

@media ($for-tablet) {
  .contacts__address {
    font-size: 16px;
    line-height: 1.25;
    width: 169px;
    text-align: right;
  }
}
