.contacts__address {
  width: 9.37rem;
  font-size: 0.87rem;
  line-height: 1.43;
  font-family: "Arial", sans-serif;
  font-style: normal;
  text-align: left;
}

@media ($for-tablet) {
  .contacts__address {
    font-size: 1rem;
    line-height: 1.25;
    width: 10.56rem;
    text-align: right;
  }
}
