.nav__link--active::before {
  position: absolute;
  bottom: 16%;
  height: 2px;
  width: 100%;
  background-color: $color-main;
  content: "";
}

@media ($min-width-tablet) {
  .nav__link--active::before {
    bottom: 23%;
  }
}

@media ($min-width-desktop) {
  .nav__link--active::before {
    bottom: 18%;
  }
}
