.main__category {
  @include wrapper;
  margin-bottom: 21px;
  padding: 0 20px;
}

@media ($min-width-tablet) {
  .main__category {
    margin-bottom: 27px;
  }
}

@media ($min-width-desktop) {
  .main__category {
    margin-bottom: 34px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
