.data-fieldset__label {
  @include flex;
  @include font-params(16px, 400, 1.13, $color-label);
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 14px;
  text-transform: uppercase;
}

@media ($for-tablet) {
  .data-fieldset__label {
    padding: 0 70px;
    font-size: 20px;
    line-height: 1;
  }
}

@media ($for-desktop) {
  .data-fieldset__label {
    padding: 0 20px;
  }
}
