.data-fieldset__label {
  @include flex;
  @include font-params(1rem, 400, 1.13, $color-label);
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25rem;
  margin-bottom: 0.87rem;
  text-transform: uppercase;
}
