.catalog-table__data {
  @include font-params(12px, 400, 1.33, $color-text);
  font-family: "Arial", sans-serif;
}

@media ($min-width-tablet) {
  .catalog-table__data {
    font-size: 16px;
    line-height: 1;
  }
}
