.example {
  background-color: $color-background;
}

@media ($min-width-tablet) {
  .example {
    background-color: transparent;
    background-image: linear-gradient(to bottom, $color-white 60%, $color-background 60%);
  }
}

@media ($min-width-desktop) {
  .example {
    background-image: linear-gradient(to bottom, $color-white 27%, $color-background 27%);
  }
}
