.contacts-fieldset__container {
  line-height: 1.35;
  padding: 0 20px;
  background-color: $color-white;
}

@media ($min-width-tablet) {
  .contacts-fieldset__container {
    padding: 0 40px;
  }
}

@media ($min-width-desktop) {
  .contacts-fieldset__container {
    padding: 0 42px 0 39px;
  }
}
