.additional-fieldset {
  @include reset-indents;
  @include flex;
  position: relative;
  flex-direction: column;
  border: none;
  margin-bottom: 31px;
}

@media ($min-width-tablet) {
  .additional-fieldset::before {
    position: absolute;
    top: 20px;
    z-index: -1;
    width: 100%;
    height: 3px;
    background-color: $color-main;
    content: "";
  }
}
