.contacts__wrapper {
  @include wrapper;
  @include flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 1.93rem 0 1.62rem 0;
  min-width: auto;
}

@media ($for-tablet) {
  .contacts__wrapper {
    justify-content: space-between;
  }
}

@media ($for-desktop) {
  .contacts__wrapper {
    position: absolute;
    top: 5.93rem;
    width: 35.65rem;
    min-width: auto;
    max-width: none;
    min-height: 12.56rem;
    padding: 4.31rem 5.62rem 3.68rem 4.75rem;
    background-color: $color-white;
  }
}
