.contacts__wrapper {
  @include wrapper;
  @include flex;
  justify-content: space-between;
  padding: 25px 20px;
}

@media ($min-width-tablet) {
  .contacts__wrapper {
    justify-content: space-between;
    padding: 66px 71px 38px;
  }
}

@media ($min-width-desktop) {
  .contacts__wrapper {
    position: absolute;
    top: 50%;
    right: 50%;
    z-index: 2;
    width: 571px;
    min-width: auto;
    max-width: none;
    min-height: 200px;
    padding: 69px 90px 59px 76px;
    background-color: $color-white;
    transform: translateY(-50%);
  }
}
