.contacts__wrapper {
  @include wrapper;
  @include flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 31px 20px 26px 20px;
  min-width: auto;
}

@media ($for-tablet) {
  .contacts__wrapper {
    justify-content: space-between;
  }
}

@media ($for-desktop) {
  .contacts__wrapper {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 571px;
    min-width: auto;
    max-width: none;
    min-height: 200px;
    padding: 69px 90px 59px 76px;
    background-color: $color-white;
    transform: translateY(-50%);
  }
}
