.advantages__title {
<<<<<<< HEAD
  @include font-params (2.57rem, 400, 1.67, $color-title);
  margin: 0;
  padding-bottom: 1.78rem;
=======
  @include font-params (2.25rem, 400, 1.67, $color-title);
  margin: 0;
  padding-bottom: 1.56rem;
>>>>>>> module4-task1-test
}
