.nav__toggle {
  position: absolute;
  top: 31px;
  right: 45px;
  z-index: 5;
}

.nav__toggle::before {
  position: absolute;
  left: -21px;
  top: -28px;
  padding: 30px;
  content: "";
}

.nav__toggle::after {
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: $color-black;
  transform: scale(0);
  transition: $transition;
  content: "";
}

@media ($min-width-tablet) {
  .nav__toggle {
    display: none;
  }
}
