.nav__toggle {
  position: absolute;
  top: -20%;
  right: 5%;
  width: 19px;
  height: 2px;
  background-color: $color-black;
  transform: rotate(-45deg);
  content: "";
}

.nav__toggle::after {
  position: absolute;
  width: 19px;
  height: 2px;
  background-color: $color-black;
  transform: rotate(90deg);
  content: "";
}

.nav__toggle::before {
  position: absolute;
  width: 19px;
  height: 2px;
  background-color: $color-black;
  opacity: 0;
  transform: rotate(45deg);
  content: "";
}

@media ($for-tablet) {
  .nav__toggle {
    display: none;
  }
}
