.nav__toggle {
  position: absolute;
  top: -40px;
  right: 50px;
}

.nav__toggle::before {
  position: absolute;
  padding: 20px;
  content: "";
  transform: translate(-28%, -50%);
}

.nav__toggle::after {
  position: absolute;
  width: 19px;
  height: 2px;
  background-color: $color-black;
  transform: scale(1);
  transition: $transition;
  content: "";
}

@media ($min-width-tablet) {
  .nav__toggle {
    display: none;
  }
}
