.header-logo__link img {
  object-fit: contain;
  transition: $transition;
  -webkit-tap-highlight-color: transparent;
}

.header-logo__link:hover[href] img,
.header-logo__link:focus[href] img {
  opacity: 0.8;
}

.header-logo__link:active[href] img {
  opacity: 0.6;
}

@media ($min-width-tablet) {
  .header-logo__link img {
    width: 174px;
    height: 59px;
  }
}

@media ($min-width-desktop) {
  .header-logo__link img {
    width: 203px;
    height: 60px;
  }
}
