.comments-fieldset__label {
  @include wrapper;
  display: flex;
}

@media ($min-width-tablet) {
  .comments-fieldset__label {
    padding: 0 70px;
  }
}

@media ($min-width-desktop) {
  .comments-fieldset__label {
    padding: 0 20px;
  }
}
