.comments-fieldset__label {
  padding: 0 1.25rem;
  display: flex;
}

@media ($for-tablet) {
  .comments-fieldset__label {
    padding: 0 4.375rem;
  }
}

@media ($for-desktop) {
  .comments-fieldset__label {
    padding: 0 1.25rem;
  }
}
