.category__item-btn {
  @include font-params (16px, 400, 1, $color-title);
  display: flex;
  align-items: center;
  text-transform: uppercase;
  transition: $transition;
  -webkit-tap-highlight-color: transparent;
}

.category__item-btn:hover svg,
.category__item-btn:focus svg {
  right: 0;
}

.category__item-btn:active {
  color: rgba($color-title, 0.3);
}

.category__item-btn:active svg {
  opacity: 0.3;
}

@media ($min-width-tablet) {
  .category__item-btn {
    max-width: 70%;
    font-size: 20px;
    background-position: 31% 6%;
  }
}
