.example-table__col {
  @include flex;
  position: relative;
  flex-direction: column;
  width: 124px;
  align-items: center;
}

@media ($for-tablet) {
  .example-table__col {
    width: 162px;
  }
}
