.form__btn {
  margin-bottom: 1.43rem;
}

@media ($for-tablet) {
  .form__btn {
    width: 17.6875rem;
    margin-right: 3.8125rem;
  }
}

@media ($for-desktop) {
  .form__btn {
    width: 35.5rem;
  }
}
