.category__item {
<<<<<<< HEAD
  margin-bottom: 1.42rem;
  padding: 1.42rem;
=======
  margin-bottom: 1.25rem;
  padding: 1.25rem;
>>>>>>> module4-task1-test
  list-style: none;
  background-color: $color-background;
}

.category__item:last-child {
  margin-bottom: 0;
}
