.additional-fieldset__wrapper {
  @include flex;
  @include wrapper;
  flex-direction: column;
}

@media ($min-width-tablet) {
  .additional-fieldset__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media ($min-width-desktop) {
  .additional-fieldset__wrapper {
    margin-bottom: 40px;
  }
}
