.additional-fieldset__wrapper {
  @include flex;
  flex-direction: column;
}

@media ($for-tablet) {
  .additional-fieldset__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
