.example__container {
  @include flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 0) and (max-width: 768px) {
  .example__container{
    @include wrapper;
  }
}

@media ($min-width-tablet) {
  .example__container {
    align-items: flex-start;
  }
}

@media ($min-width-desktop) {
  .example__container {
    width: 50%;
  }
}
