.example__container {
  @include flex;
  flex-direction: column;
  align-items: center;
}

@media ($min-width-tablet) {
  .example__container {
    align-items: flex-start;
  }
}

@media ($min-width-desktop) {
  .example__container {
    width: 50%;
  }
}
