.comments-fieldset__title {
  @include font-params(24px, 400, 1, $color-title);
  padding: 0 20px;
  margin-bottom: 30px;
}

@media ($for-tablet) {
  .comments-fieldset__title {
    font-size: 36px;
    padding: 0 70px;
  }
}

@media ($for-desktop) {
  .comments-fieldset__title {
    padding: 0 20px;
  }
}
