.comments-fieldset__title {
  @include font-params(24px, 400, 1, $color-title);
  @include wrapper;
  display: block;
  margin-bottom: 30px;
}

@media ($min-width-tablet) {
  .comments-fieldset__title {
    font-size: 36px;
    padding: 0 70px;
  }
}

@media ($min-width-desktop) {
  .comments-fieldset__title {
    padding: 0 20px;
  }
}
