.comments-fieldset__title {
  @include font-params(24px, 400, 1.35, $color-title);
  display: block;
  margin: 0 0 30px;
}

@media ($min-width-tablet) {
  .comments-fieldset__title {
    font-size: 36px;
    padding: 0 30px;
    margin-bottom: 70px;
  }
}

@media ($min-width-desktop) {
  .comments-fieldset__title {
    padding: 0;
    min-width: 1024px;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto 70px;
  }
}
