.catalog__item {
  @include flex;
  flex-direction: column;
<<<<<<< HEAD
  margin: 1.78rem 0;
=======
  margin: 1.56rem 0;
>>>>>>> module4-task1-test
  border-bottom: 1px solid $color-border;
  list-style: none;
}
