.catalog__item {
  @include flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  width: 100%;
  margin: 1.56rem auto;
  padding: 0 1.25rem;
  border-bottom: 0.06rem solid $color-border-light;
  list-style: none;
}

@media ($for-tablet) {
  .catalog__item {
    justify-content: flex-end;
    width: 42%;
    min-width: 20.25rem;
    min-height: 34.5rem;
    flex-grow: 1;
    margin: 0 3.75rem 5.75rem 0;
    padding: 0 2.37rem;
    border-bottom: none;
    background-image: linear-gradient(to bottom, $color-white 20%, $color-background 20%);
  }

  .catalog__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media ($for-desktop) {
  .catalog__item {
    min-width: auto;
    max-width: 15.31rem;
    width: 18%;
    margin-right: 3.5rem;
  }

  .catalog__item:nth-child(2n) {
    margin-right: 3.5rem;
  }

  .catalog__item:nth-child(4n) {
    margin-right: 0;
  }
}
