.catalog-table__head {
  @include font-params(12px, 400, 1.33, $color-text);
  display: block;
  font-family: "Arial", sans-serif;
  text-align: left;
}

@media ($min-width-tablet) {
  .catalog-table__head {
    font-size: 16px;
    line-height: 1;
  }
}
