.contacts__title {
  @include font-params (16px, 400, 1.25, $color-title);
  width: 123px;
  margin: 0;
  text-transform: uppercase;
}

@media ($for-tablet) {
  .contacts__title {
    width: 154px;
    font-size: 20px;
  }
}
