.contacts-fieldset__label-wrapper {
  padding-right: 13px;
}

@media ($min-width-tablet) {
  .contacts-fieldset__label-wrapper {
    padding-right: 20px;
  }
}

@media ($min-width-desktop) {
  .contacts-fieldset__label-wrapper {
    padding-right: 25px;
    max-width: 300px;
  }
}
