.target-fieldset__label {
  @include font-params(16px, 400, 1.13, $color-label);
  position: relative;
  text-transform: uppercase;
  padding: 0 20px 0 68px;
  margin-bottom: 29px;
}

.target-fieldset__label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 16px;
  width: 30px;
  height: 30px;
  border: 1px solid $color-border-light;
  border-radius: 50%;
  transform: translateY(-50%);
}

.target-fieldset__input:checked + .target-fieldset__label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 26px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $color-main;
  transform: translateY(-50%);
}

@media ($min-width-tablet) {
  .target-fieldset__label {
    font-size: 20px;
    line-height: 1;
    padding: 0;
    margin-bottom: 33px;
  }

  .target-fieldset__label:last-child {
    margin-bottom: 0;
  }

  .target-fieldset__label::before {
    left: -48px;
  }

  .target-fieldset__input:checked + .target-fieldset__label::after {
    left: -40px;
  }
}
