.target-fieldset__label {
  @include font-params(16px, 400, 1.13, $color-label);
  position: relative;
  text-transform: uppercase;
  padding: 0 20px 0 68px;
  margin-bottom: 29px;
  user-select: none;
  transition: $transition;
}

.target-fieldset__label:active {
  color: rgba(34, 34, 34, 0.3);
}

.target-fieldset__label::before {
  position: absolute;
  top: 50%;
  left: 16px;
  width: 30px;
  height: 30px;
  border: 1px solid $color-border-light;
  border-radius: 50%;
  transform: translateY(-50%);
  content: "";
}

.target-fieldset__label::after {
  position: absolute;
  top: 50%;
  left: 26px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $color-main;
  transform: translateY(-50%);
  opacity: 0;
  content: "";
}

.target-fieldset__input:checked + .target-fieldset__label::after {
  opacity: 1;
}

.target-fieldset__label:active::after {
  opacity: 0.3;
}

.target-fieldset__label:hover::before,
.target-fieldset__input:focus + .target-fieldset__label::before {
  border-color: #bababa;
}

.target-fieldset__label:active::before {
  border-color: rgba(#bababa, 0.3);
}

@media ($min-width-tablet) {
  .target-fieldset__label {
    font-size: 20px;
    line-height: 1;
    padding: 0;
    margin-bottom: 33px;
  }

  .target-fieldset__label:last-child {
    margin-bottom: 0;
  }

  .target-fieldset__label::before {
    left: -48px;
  }

  .target-fieldset__label::after {
    left: -39px;
  }
}
