.more__text {
  @include font-params(0.75rem, 400, 1.33, $color-text);
  padding-bottom: 1.37rem;
  font-family: "Arial", sans-serif;
  margin: 0;
}

@media ($for-tablet) {
  .more__text {
    max-width: 11rem;
    padding-bottom: 1.75rem;
    font-size: 1rem;
    line-height: normal;
    text-align: center;
  }
}
