.more__text {
  @include font-params(12px, 400, 1.33, $color-text);
  padding-bottom: 22px;
  font-family: "Arial", sans-serif;
  margin: 0;
}

@media ($for-tablet) {
  .more__text {
    max-width: 176px;
    padding-bottom: 28px;
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
}
